
body {
  margin: 0;
 font-style: calc();
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

header {
  text-align: center;
  padding: 10px; 
  color: chartreuse;
  font-size: larger;
}


header img {
  width: 100px;
}
p {
  background-color: blueviolet;
  color: #decfcf;
  text-align: center;
  text-size-adjust: inherit;
}

nav {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 14px 25px;
  font-weight: bold;
}

nav a:hover {
  background-color: #e67e22;
}

.len {
  background: url(" Screenshot 2025-10-03 194325.png ") no-repeat center center/cover;
  padding: 80px 20px;
  color: rgb(235, 247, 7);
  text-align: center;
  font-size: 1.2em;
  position: relative;
}

.len h1 {
  color: #e67e22;
  font-size: 2.5em;
  margin-bottom: 10px;
}


.a {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;

  position: relative;
 
}



.b {
  background-color: goldenrod;
  border-radius: 10px;

  width: 110px;           
  
  padding: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
}


.a img {
  height: 80%;
  width: 100%;
  border-radius: 10px;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
div.b a {
  background-color: orange;
  border-radius: 30px;
}

.b img {
  width: 100%;
  height: 140px;        
  object-fit: cover;
  border-radius: 10px;
}

